<div class="container">

<%= render "shared/errors",  obj: @article   %>

  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @article, class: "article-form shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row mb-4">
          <%= f.label :title, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Enter Title" %>
          </div>
        </div>

        <div class="form-group row mb-4">
          <%= f.label :description, class: "col-2 col-form-label" %>
          <div class="col-10">
            <%= f.text_area :description, rows: 10, class: "form-control shadow rounded", placeholder: "Enter Description here..." %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
           <div class="">
              <%= f.submit "Save Article", class:"btn btn-outline-light btn-lg mt-2" %>
          </div>

        </div>
      <% end %>
    </div>

    <%= link_to "Cancel and Back to Articles", articles_path,  class:"text-primary" %>
  </div>
</div>
