<h1>show</h1>
<h3><strong>Title: </strong><%= @article.title %></h3>
<h3><strong>Description: </strong><%= @article.description %></h3>
<td><%= link_to "Edit", edit_article_path(@article) %></td>
<td><%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: 'Are you sure?' }%></td>
<td><%= link_to "Back to Articles", articles_path %></td>
