<h1 class="mt-4 text-center">Sign Up for Alpha Blog</h1>
<div class="flickr_pagination">
  <%= will_paginate @users, :container => false %>
</div>
  <div class="container">

    <% @users.each do |user|  %>
      <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">
           <h4> <%= link_to user.username, user  %></h4>
          </div>
          <div class="card-body">


            <%= link_to image_tag("afaqshahid.jpg", alt: user.username, class: "profile-image", width: 100, height: 100), user_path(user) %>


            <%= link_to "View Profile", user_path(user), class:"btn btn-outline-success" %>

            <% if logged_in? %>
              <% if user == current_user %>
                <%= link_to "Edit profile", edit_user_path(user), class: "btn btn-outline-info" %>
            <% end %>
              <% if current_user.admin? %>
                <%= link_to "Delete user", user_path(user), class: "btn btn-outline-danger", method: :delete,
                data: {confirm: "Are you sure you want to delete the user account and all associated articles?"} %>
              <% end %>

        <% end %>

          </div>
          <div class="card-footer text-muted">
          <small>Joined <%= time_ago_in_words(user.created_at ) %> ago </small>
          </div>
        </div>
        </div>
      </div>
    <% end %>


  </div>
  <div class="flickr_pagination">
    <%= will_paginate @users, :container => false %>
  </div>
